@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}
p {
  font-size: 10.24px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  width: 550px;
  background-color: white;
}

nav {
  min-width: 100%;
  min-height: 55px;
  background-color: #f55a5a ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.card {
  display: flex;
}
.thumbnail {
  margin: 1rem;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.location {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start
}
.icon {
  margin-right:.5rem;
}
.location > h4 {
  margin: 0 .5rem 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
}
.location > a {
  font-weight: lighter;
  color: gray;
}
.description > h2 {
  font-size: 25px;

  margin: 0 0 .5rem 0;
}
.dates {
  font-weight: bold;
}
.summary {
  margin: 0.25rem 0;
  font-weight: 400;
  line-height: 15.36px;
}